<h1>Create new task</h1>

<form [formGroup]="form" (ngSubmit)="onFormSubmitted(form)">
  <div>
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label
      ><input matInput type="text" placeholder="Name" formControlName="name" required /><mat-error
        *ngIf="form.get('name')!.invalid"
        >name is invalid</mat-error
      ></mat-form-field
    >
  </div>

  <div>
    <mat-form-field appearance="fill">
      <mat-label>Choose a category</mat-label>
      <mat-select formControlName="categoryId" required>
        <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
          {{ category.name }}
        </mat-option> </mat-select
      ><mat-error *ngIf="form.get('categoryId')!.invalid">categoryId is invalid</mat-error>
    </mat-form-field>
  </div>

  <div formArrayName="teamMemberIds">
    <div *ngFor="let teamMember of teamMembers$ | async; index as i" [formGroupName]="i">
      <mat-checkbox [formControlName]="teamMember.id"
        ><img width="24" src="{{ teamMember.avatar }}" [alt]="teamMember.name" />
        {{ teamMember.name }}</mat-checkbox
      >
    </div>
  </div>

  <ng-container *ngIf="loadingTeamMembers$ | async">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50" [diameter]="50">
    </mat-progress-spinner>
  </ng-container>

  <div>
    <ng-container *ngIf="imageToUploadPreview$ | async as imageUrl"
      ><img [src]="imageUrl" width="200"
    /></ng-container>
    <input type="file" accept="image/*" (change)="onFileChanged($event)" />
  </div>

  <div>
    <button type="submit" mat-raised-button color="primary">Create</button>
  </div>
</form>

<ng-container *ngIf="loadingCreateTask$ | async">
  <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50" [diameter]="50">
  </mat-progress-spinner>
</ng-container>
