<div class="mb-1">
  <button appGoBack mat-raised-button color="primary">Back</button>
</div>

<mat-card>
  <div class="mb-1" *ngIf="headingText$ | async as headingText">
    <mat-card-title>{{ headingText }}</mat-card-title>
  </div>

  <form [formGroup]="form" (ngSubmit)="onFormSubmitted(form)" class="mb-1">
    <div class="mb-1">
      <mat-form-field appearance="fill"
        ><mat-label>Name</mat-label
        ><input matInput type="text" placeholder="Name" formControlName="name" required /><mat-error
          *ngIf="form.get('name')!.invalid"
          >Name is required</mat-error
        ></mat-form-field
      >
    </div>

    <div *ngIf="submitButtonText$ | async as submitButtonText">
      <button type="submit" mat-raised-button color="primary" [disabled]="loading$ | async">
        {{ submitButtonText }}
      </button>
    </div>
  </form>

  <ng-container *ngIf="loading$ | async">
    <mat-progress-spinner [color]="'primary'" [mode]="'indeterminate'" [value]="50" [diameter]="30">
    </mat-progress-spinner>
  </ng-container>
</mat-card>
