<mat-card>
  <div class="mb-1" *ngIf="headingText$ | async as headingText">
    <mat-card-title>{{ headingText }}</mat-card-title>
  </div>

  <form [formGroup]="form" (ngSubmit)="onFormSubmitted(form)">
    <div class="mb-1">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label
        ><input matInput type="text" placeholder="Name" formControlName="name" required /><mat-error
          *ngIf="form.get('name')!.invalid"
          >Name is required</mat-error
        ></mat-form-field
      >
    </div>

    <div class="mb-1">
      <mat-form-field appearance="outline">
        <mat-label>Choose a category</mat-label>
        <mat-select formControlName="categoryId" required>
          <mat-option *ngFor="let category of categories$ | async" [value]="category.id">
            {{ category.name }}
          </mat-option> </mat-select
        ><mat-error *ngIf="form.get('categoryId')!.invalid">Category is required</mat-error>
      </mat-form-field>
    </div>

    <div
      formArrayName="teamMemberIds"
      class="mb-1"
      *ngIf="teamMembers$ | async as teamMembers; else loadingTeamMembers">
      <div *ngFor="let teamMember of teamMembers; index as i" [formGroupName]="i">
        <mat-checkbox [formControlName]="teamMember.id" class="mb-1"
          ><div class="create-task-checkbox-content">
            <img
              src="{{ teamMember.avatar }}"
              class="create-task-checkbox-avatar"
              [alt]="teamMember.name" />
            {{ teamMember.name }}
          </div></mat-checkbox
        >
      </div>
    </div>

    <ng-template #loadingTeamMembers>
      <mat-progress-spinner
        [color]="'primary'"
        [mode]="'indeterminate'"
        [value]="50"
        [diameter]="30"
        class="mb-1">
      </mat-progress-spinner>
    </ng-template>

    <div class="mb-1">
      <ng-container *ngIf="imageToUploadPreview$ | async as imageUrl"
        ><img [src]="imageUrl" class="create-task-image mb-1"
      /></ng-container>
      <input type="file" accept="image/*" (change)="onFileChanged($event)" />
    </div>

    <div class="mb-1" *ngIf="submitButtonText$ | async as submitButtonText">
      <button type="submit" mat-raised-button color="primary" [disabled]="loading$ | async">
        {{ submitButtonText }}
      </button>
    </div>

    <mat-progress-spinner
      *ngIf="loading$ | async"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [value]="50"
      [diameter]="30">
    </mat-progress-spinner>
  </form>
</mat-card>
