.task-form {
  &-image-wrapper {
    position: relative;
  }

  &-image {
    display: block;
    width: 200px;
    height: auto;
  }

  &-image-delete {
    position: absolute;
    left: 5px;
    top: 5px;
  }

  &-checkbox {
    &-content {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    &-avatar {
      width: 24px;
      height: auto;
      align-items: center;
    }
  }
}
